html {
  background-color: #a0a0a0
}

header {
  background:#000000;
  color: whitesmoke; 
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}

header>img {
  margin: 10px 10px;
  height: 30px;
  width: 70px;
}

.buttonHeader {
  background-color: #000000;
  color: whitesmoke;
  padding: 0 20px !important;
  border: 0;
}

.buttonHeader:hover {
  background-color: #424242;
  border: 0;
}

footer{ 
  background: #404040;
  color:whitesmoke;
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:50px; 
}

.App {
  background-image: url("https://ent.univ-brest.fr/fonds/18.jpg?id=03092020");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 150%;
  text-align: center;
  padding-top: 60px;
  height: calc(100vh - 45px);
}

.Login {
  background-color: rgba(222, 222, 222, 0.95);
  width: 50%;
  height: 60%;
  padding: 10px !important;
  border-radius: 20px;
  border: 2px solid grey;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

.Login .Form {
  padding: 10px 100px;
}