p {
    display: inline;
}
#container {
    background-color: rgba(222, 222, 222, 0.95);
    height: 100%;
    padding: 0 10px;
}
.BoardHeader {
    display: inline-flex;
}
.BoardHeader>h1 {
    padding-right: 10px;
}

td {
    padding: 5px 50px;

}